*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainbackground:#f5a338;
    --lightgray:rgb(73, 73, 75);
    --darkorange:#d92e12;
    --lightorange:#ff6347;
    --mainfont:"Corben", serif;
    --secondaryfont:"Satisfy", cursive;
    --mainfont:#552F69;
    --try:#6F4E37
}

    .maincontainer{
      padding: 10px;
      width: 100%;
      background-color: var(--mainbackground);
    }

   .maincontainer .header{
      display: flex;
      align-items: center;
      gap: 30px;
      width: 65%;
      position: fixed;
      z-index: 999;
      backdrop-filter: blur(10px);
      top: -7px;
   }

    .maincontainer .header .logo{
        display: flex;
        width: 5%;
        height: 50px;
        margin-left: 50px;
        margin-top: 50px;
     }

     .maincontainer .header .logo #imglogo{
      border-radius: 5px;
      margin-top: 10px;

     }

   .maincontainer .header .logo h1{
        color: #006b3e;
        margin-left: 15px;
        margin-top: 10px;
        font-family: var(--secondaryfont);
     }

     .maincontainer .header .logo .hline{
      position: absolute;
      left: 250px;
      top: 40px;
      width: 1px;
      height: 70px;
      background-color:#006b3e;
     }


   .maincontainer .header .search{
      display: flex;
      align-items: left;
      gap: 10px;
      margin-top: 70px;
    }

   
     .maincontainer .header .search i{
        color: var(--mainfont);
        margin-left: 400px ;
     }

      .maincontainer .header .search #searchText{
        background-color:var(--mainbackground);
        color: #006b3e;
        border-radius: 5px;
        padding-left: 10px;
        font-family: var(--secondaryfont);
     }

      /* .maincontainer .header label i ,
      .maincontainer .header #checkd{
        display: inline-block;
        position: relative;

      } */

       .maincontainer .header label  i ,
       .maincontainer .header #checkd {
         display:none ;
         position: absolute; 
         left: 500px;
         top: 10px;
      
     }
      
     .maincontainer .header ul{
        display: flex;
        /* justify-content: space-between; */
        margin-top: 60px;
        list-style: none;
        padding-top: 10px;
      }

    .maincontainer .header ul li a{
        color:#006b3e;
        margin-right: 30px;
        margin-left: 15px;
        text-decoration: none;
        font-family: var(--secondaryfont);
        font-size: 25px;
        font-weight: bold;
        transition: 2s;
          }

          .maincontainer .header ul li a:hover, 
          .maincontainer .header ul .active a {
            color: #663b02 ;
          }



          .maincontainer .content{
            display: flex;
            align-items: center;
            width: 100%;
            background-color:#f3b25c;
            padding:5vh 3%;
            margin-top: 120px;
            border-radius: 30px;
           

          }

            .maincontainer .content .banner{
            width: 100%;
            height: 100%;
            padding: 7vh 5% ;
            background-image: url(../images/img/first.jpg);
            background-size: 100% 100%;
            border-radius: 30px;
            color: #f5a338;
          }

          .maincontainer .content h3 {
            padding: 3vh 2px;
            font-family: var(--secondaryfont);
            font-size: 40px;
            font-weight: bold;
            margin: 5px 3px ;
          }

           .maincontainer .content h3 #co{
             color:#b96d08 ;
             font-family: var(--secondaryfont);
             font-size: 70px;
             font-weight: bold;
            }

            .maincontainer .content h3 #ffee{
             color:#012e1b ;
             font-family: var(--secondaryfont);
             font-size: 70px;
            }

            .maincontainer .content .banner .book {
              width: 150px;
              height: 50px;
              background-color:#012e1b ;
              color: #f5A338;
              border-radius: 50px;
              font-weight: bold;
              font-family: var(--secondaryfont);
              padding: 10px 20px;
              font-size: 20px;
              transition: 2s;
            }

            
         .maincontainer .content .banner .book:hover {
          background-color:#f5A338 ;
              color: #012e1b;
             }


             .maincontainer .footer {
            display: flex;
            align-items: center;
            width: 100%;
            background-color:#5C3A21;
            padding:5vh 3%;
            margin-top: 10px;
            border-radius: 30px;
            font-family: var(--secondaryfont);
            font-size: 20px;
            color: #FFF6E5;
             }

             .maincontainer .footer .icon h5 {
              color: #FFF6E5;
             }

             .maincontainer .footer .icon {
              /* display: flex;
              flex-direction: row; */
              position: absolute;
              right: 100px;
             }

             
.footer .face {
  color: #1877f2
}
     
.footer .twitter {
  color: #1da1f2;
}

.footer .insta {
  color : radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf, #4f5bd5)
}

.footer .tiktok {
  color: #010101;
}


@media (max-width: 1310px) {
  .maincontainer .header {
    flex-wrap: wrap;
  }

  .maincontainer .header .logo {
    width: 20%;
  }

  .maincontainer .header .search {
    width: 50%;
  }

  .maincontainer .header input[type="checkbox"] {
    display: none;
  }

  .maincontainer .header ul {
    justify-content: space-between;
    margin:10px 250px ;
  }

  .maincontainer .content {
    margin-top: 220px;
  }

   .maincontainer .content h3 , span {
    font-size: 30px;
    font-weight: bold;
  }

  .maincontainer .content h3 #co ,
  .maincontainer .content h3 #ffee {
    font-size: 40px;
    font-weight: bold;
  }
}
    




@media (max-width: 854px) {
  .maincontainer .header .logo {
    width: 40%;
  }

  .maincontainer .header .logo .hline{
    display: none;
  }

  .maincontainer .header {
    backdrop-filter: none;
  }

  .maincontainer .header .search {
    order: 6;
    width: 90%;
    flex-direction: row;
    align-items: left;
    justify-content:flex-start ;
    gap: 5px;
    margin-top: 250px;
    padding-bottom: 20px;
    position: absolute;
    right: 400px;
  }
  
  /* .maincontainer .header .search i {
     flex-direction: row;
    justify-content: left;
  } */

  .maincontainer .header {
    position: relative;
  }


  .maincontainer .header ul{
    position: absolute;
    top: 90px;
    left: -10px;
    width: 70%;
    background-color: rgba(255, 235, 205, 0.425);
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    box-shadow: 5px 5px 5px #332d25;
    border-radius: 20px 0 0 20px;
    transition: 1s;  
    transform-origin: right;
    transform: rotateY(90deg);
    
}

.maincontainer .header ul li {
  width: 80%;
  font-size:20px;
  border-bottom: 1px solid #2f31312d;
}

.maincontainer .header ul li  a{
  padding-left: 200px;
}

.maincontainer .header label i{
  display:  inline-block;
  color: rgb(255, 255, 255);
  font-size: 35px;
  position: relative;
  left: 350px;
  top: 35px;
}

.maincontainer .content {
    margin-top: 80px;
  }

  .maincontainer .header input[type="checkbox"]:checked ~ul {
    transform: rotateY(0deg);
  }

  /* .maincontainer .header ul li a:hover , 
  .maincontainer .header ul li .active a:hover {
    background-color: #f1820477 !important;
  } */
}

@media (max-width:650px){
  .maincontainer .header label i {
    left: 250px;
  }
  .maincontainer .header ul li a{
    padding-left: 150px;
  }
}


@media (max-width:540px){
   .maincontainer .header label i {
    left: 150px;
  }
  .maincontainer .header ul li a{
    padding-left: 60px;
  }
  .maincontainer .header ul{
    left: -100px;
}
}